h1{
	color: red;
	text-decoration: underline;
	font-size: 60px;
}

ul li{
	color: blue;
	font-size: 20px;
}


ol li{
	color: red;
	font-size: 28px;
}

.done{
	color: yellow;
	text-decoration: line-through;
}

#tomorrow li{
	font-weight: bold;
}

#square{
	width: 200px;
	height: 200px;
	background-color: orange;
	padding: 50px;
	border: 50px dotted red;
	margin: 50px;
}